.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env
venv
venv/
venv/*
migrations
migrations/
migrations/*
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover
